{{> header}}

<div class="jumbotron">
    <h1 style="color: {{#color}} {{color}} {{/color}} {{^color}} inherited {{/color}}">Hello {{name}}</h1>
    <p><a href="/">Back to the form</a></p>
</div>

{{> footer}}