---
layout: default
---

<div class="row">
    <div class="col-md-12">
		<h1>{{ page.title }}</h1>
		<p>published on {{ page.date | date: '%B %d, %Y' }}</p>
	</div>
</div>

<br/>

<div class="row">
	<div class="col-md-12">
	{{ content }}
	</div>
</div>

<hr/>

<div class="row">
	<div class="col-md-6">
		<g:plusone size="medium"></g:plusone>
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="nosceon">Tweet</a>
		<a href="https://news.ycombinator.com/submit" class="hn-button" data-title="{{ page.title }}" data-count="horizontal" data-style="twitter">Vote on Hacker News</a>
	</div>
	<div class="col-md-6">
		<p class="pull-right">
			{% if page.previous.url %} 
				<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; previous</a>
			{% endif %}   
			{% if page.next.url %} 	
				<a style="padding-left: 5px" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">next &raquo;</span></a> 	
			{% endif %} 
		</p>  
	</div>
</div>
